*,*::before,*::after{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}




.intro {
  background: #333533;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider {
  background:#333533;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.intro-text h1 {
  color: #C4C4C4;
  font-family: "Heebo", sans-serif;
  font-size: 5rem;
}

.hide {
  background: #333533;
  overflow: hidden;
}

.hide span {
  transform: translateY(100%);
  display: inline-block;
}












html{
  scroll-behavior: smooth;
  cursor: default;
  cursor:url('images/cursor.png'), auto;
  overflow: hidden;
}

@font-face{
  font-family: PopLight;
  src: url('./fonts/Poppins-ExtraLight.ttf');
}
@font-face{
  font-family: PopRegular;
  src: url('./fonts/Poppins-Regular.ttf');
}
@font-face{
  font-family: PopMediumItalic;
  src: url('./fonts/Poppins-MediumItalic.ttf');
}

@font-face{
  font-family: PopSemiBold;
  src: url('./fonts/Poppins-SemiBold.ttf');
}

body{
  font-family: PopLight;
}


h1, h3, a{
  font-family: PopRegular;
  text-decoration: none;
  color: #333533;
  font-size: 24px;
}

.first{
  /* background: linear-gradient(to right, #dfdfdf 50%, #cac4c4 50%); */
  background: #C4C4C4;
}

.second{
  color: #333533;
  /* background: #F4E9CD; */
  background: #C4C4C4;
  /* background: #e2dedb; */
  /* background: #F5F1EE; */
}


.third{
  color: #333533;
  /* background: #e2dedb; */
  background: #C4C4C4;
}

.about{
  color: #333533;
  /* background: #FCD5CE; */
  background: #C4C4C4;
  /* background: #e2dedb; */
}

header {
  height: 7vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btncv :hover, .btngallery :hover{
  color: #333533;
}

.logo{
  cursor: pointer;
  font-size: 2em;
  font-family: PopMediumItalic;
}


.pagework, .pageabout, .page{
  height: 86vh;
  display: grid;
  grid-template-columns: 1% 1fr 1fr 1fr 1%;
}

/* PHOTOGRAPHY */

.pagephotographer{
  height: 86vh;
  display: grid;
  grid-template-columns: 1% 2fr 1fr 1fr 1fr 1%;
}

.textcontent{
  padding-left: 2vw;
  grid-column: 2/3;
  width: 90%;
  margin: auto;
}

.textcontent1{
  line-height: 10vh;
}

.textcontent h1{
  font-size: 4em;
  font-family: PopSemiBold;
}
.textcontent h3{
  font-size: 2em;
  font-family: PopSemiBold;
}

.btngallery{
  cursor: pointer;
  border: 1px solid #333533;
  background: orange;
  color: #333533;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  padding: 10px 150px;
}


.photo1{
  padding-top: 3vw;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}
.photo2{
  padding-top: 3vw;
  grid-column: 4/5;
  align-self: center;
  justify-self: center;
}
.photo3{
  padding-top: 3vw;
  grid-column: 5/6;
  align-self: center;
  justify-self: center;
  padding-right: 5vw;
}


/* DETAILS */
.details{
  animation: fadeInLeft;
  animation-duration: 2s;
  grid-column: 2/4;
  align-self: center;
  justify-self: center;
  width: 70%;
  margin: auto;
}
.self{
  padding-bottom: 3vh;
}

.details h1{
  font-size: 3em;
  font-family: PopSemiBold;
}
.details h3{
  font-size: 1.5em;
  font-family: PopSemiBold;
}

.photo{
  grid-column: 4/5;
  align-self: center;
  justify-self: start;
}

.poza{
  height: 60vh;
}



.wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
    0% { transform: rotate( 0.0deg) }
   10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
   20% { transform: rotate(-8.0deg) }
   30% { transform: rotate(14.0deg) }
   40% { transform: rotate(-4.0deg) }
   50% { transform: rotate(10.0deg) }
   60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}


/* SELECTED WORK */

.selectedwork{
  width: 80vh;
  position: relative;
  top: 5vh;
  left: 22vh;
  font-size: 5em;
  line-height: 1em;
}


.workcontent1{
  width: 23vw;
  height: 50vh;
  grid-column: 2/3;
  align-self: center;
  justify-self: end;
}

.workcontent1 img{
  width: 23vw;
}

.workcontent2{
  width: 23vw;
  height: 50vh;
  grid-column: 3/4;
  align-self: center;
  justify-self: center;
}
.workcontent2 img{
  width: 23vw;
}
.workcontent3{
  width: 23vw;
  height: 50vh;
  grid-column: 4/5;
  align-self: center;
  justify-self: start;
}
.workcontent3 img{
  width: 23vw;
}

.title{
  text-align: left;
  font-size: 2em;
}
.link{
  text-align: right;
  padding-bottom: 3vh;
  font-family: PopSemiBold;
}
.tech{
  text-align: left;
  justify-self: end;
}


/* ABOUT */
.attributes{
  grid-column: 2/4;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}

.btncv{
  cursor: pointer;
  border: 1px solid #333533;
  background: orange;
  color: #333533;
  grid-column: 2/3;
  align-self: center;
  justify-self: center;
  padding: 10px 100px;
}

.attributes h1{
  font-size: 4em;
  font-family: PopSemiBold;
  line-height: 12vh;
}

.attributes h1:hover{
  font-style: italic;
}


.whatyouneed{
  grid-column: 4/5;
  align-self: end;
  justify-self: center;
}

.whatyouneed h1{
  font-size: 1.5rem;
  font-family: PopRegular;
  animation: 
  typing 3.5s steps(30, end),
  blink-caret .5s step-end infinite;
  border-right: .15em solid orange;
  overflow: hidden;
  white-space: nowrap; /* Keeps the content on a single line */
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}


.trademark h3{
  font-family: PopMediumItalic;
}


a:hover, h3:hover, h1:hover{
  color: orange;
}




/* PAGES */

.pages{
  text-align: right;
  align-self: center;
  justify-self: right;
  position: fixed;
  right: 1%;
  top: 50%;
  transform: translateY(-50%);
}

.pages a{
  font-size: 3em;
}

/* FOOTER */

footer{
  height: 7vh;
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.balaurl{
  display: grid;
  align-content:center;
  justify-content: center;
  grid-column: 1/2;
  position: fixed;
  left: -1%;
  top: 50%;
  transform: translateY(-50%);
}
.balaurl h3{
  transform: rotate(-90deg);
}


/* MOBILE */

@media (max-width: 1024px){

    html{
      overflow: auto;
    }

    /* NO SCROLLBAR YET FUNCTIONAL */
    ::-webkit-scrollbar {
    display: none;
    }
    


    .intro-text h1 {
      color:#C4C4C4;
      font-family: "Heebo", sans-serif;
      font-size: 3rem;
    }
  


  .pages{
    display: grid;
    align-content:center ;
    justify-content: center;
    grid-column: 5/6;
    position: fixed;
    right: 1%;
    top: 50%;
    transform: translateY(-50%);
    }

    .pages a{
      font-size: 24px;
    }

    h1, h3, a{
      font-size: 1em;
    }
    
    .page{
      min-height: 80vh;
      display: grid;
      grid-template-columns: 5% 1fr 5%;
      align-items: center;
    }

    .pagework{
      min-height: 135vh;
      display: grid;
      grid-template-columns: 5% 1fr 5%;
      align-items: center;
    }

    .photo{
      display: none;
    }

    .poza{
      height: 40vh;
    }

    .details, .details2, .details3{
      grid-column: 2/3;
      text-align: center;
      align-self: center;
      justify-self: center;
      width: 98%;
    }
    .details h1, .details2 h1, .details3 h1{
      font-size: 1.5em;
    }
    .details h3, .details2 h3, .details3 h3{
      font-size: 1em;
    }
    

/* WORKCONTENT */

    .workcontent1 img , .workcontent2 img , .workcontent3 img{
      height: 20vh;
      width: auto;
    }

    .workcontent1, .workcontent2, .workcontent3{
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
      height: 45vh;
      width: 98%;
      padding-top: 2vh;
    }

    .workcontent1 h1, .workcontent2 h1, .workcontent3 h1{
      font-size: 1em;
    }

/* PHOTOGRAPHY */
    .pagephotographer{
      min-height: 80vh;
      display: grid;
      grid-template-columns: 5% 1fr 5%;
      align-items: center;
    }

    .btngallery{
      cursor: pointer;
      border: 1px solid #333533;
      background: rgb(236, 158, 13);
      color: #333533;
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
      padding: 10px 30px;
    }

    .textcontent1{
      line-height: 5vh;
    }

    .photo1{
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
    }
    .photo2{
      display: none;
    }
    .photo3{
      display: none;
    }

/* ABOUT */

    .pageabout{
      min-height: 80vh;
      display: grid;
      grid-template-columns: 5% 1fr 5%;
      align-items: center;
    }

    .btncv{
      cursor: pointer;
      border: 1px solid #333533;
      background: orange;
      color: #333533;
      grid-column: 2/3;
      align-self: center;
      justify-self: center;
      padding: 10px 50px;
    }
    

    .attributes{
      width: 80%;
      grid-column: 2/4;
      overflow: hidden;
      align-self: center;
      justify-self: center;
    }

    .attributes h1{
      line-height: 8vh;
      font-size: 2em;
      font-family: PopSemiBold;
    }

    footer a, footer h3{
      display: none;
    }

    .balaurl{
      display: none;
    }

    .whatyouneed{
      display: none;
    }

    .selectedwork{
      display: none;
    }

    .updated{
      display: none;
    }

    .trademark{
      display: none;
    }


    
    .logo{
      font-size: 20px;
    }
    
    .textcontent h1{
      font-size: 21px;
      font-family: PopRegular;
    }
    .textcontent h3{
      font-size: 17px;
      font-family: PopRegular;
    }
}
